{{define "create-project"}}

<html>
{{template "head" .}}

<body>
    <section class="create-project">
        <form action="/create-project"  method="post" id="create-project">
            <h1>create a new project</h1>
            <div class="formdata">
            <div class="row">
                <div class="col">
                    <label for="project-name">Project Name</label>
                    <input required type="text" class="form-control" id="project-name" name="name" placeholder="Project Name"
                        aria-label="Project Name">
                </div>
                <div class="col">
                    <label for="project-type">Project Type</label>
                    <select id="project-type" class="form-control" name="type">
                        <option value="Chemical Manufacturing">Chemical Manufacturing</option>
                        <option value="Stadium Musuem">Stadium Musuem</option>
                        <option value="Metal refining or processing">Metal refining or processing</option>
                        <option value="Oil exploration or production">Oil exploration or production</option>
                        <option value="Oil refining">Oil refining</option>
                        <option value="Natural gas processing">Natural gas processing</option>
                        <option value="Highway">Highway</option>
                        <option value="Power generation">Power generation</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="project-delivery">Project Delivery Strategies</label>
                    <select id="project-delivery" class="form-control" name="deliveryStrategy">
                        <option value="Waterfall">Waterfall</option>
                        <option value="Agile">Agile </option>
                        <option value="Lean">Lean</option>
                    </select>
                </div>
                <div class="col">
                    <label for="project-current-state">Project Current State</label>
                    <select id="project-current-state" class="form-control", name="currentState">
                        <option value="Front-end planning">Front-end planning</option>
                        <option value="Design">In Design</option>
                        <option value="Procurement">Procurement</option>
                        <option value="Construction">Construction</option>
                        <option value="Start-up">Start-up</option>
                        <option value="Completed">Completed</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="project-contracting-strategies">Project Contracting Strategies</label>
                    <select id="project-contracting-strategies" class="form-control" name="contractingStrategy">
                        <option value="Fixed Price">Fixed Price</option>
                        <option value="Unit Price">Unit Price</option>
                        <option value="Maximum Price">Maximum Price</option>
                    </select>
                </div>
                <div class="col">
                    <label for="dollarValue">Project Dollar Value:</label>
                    <input required type="number" class="form-control" id="dollarValue" name="dollarValue" placeholder="$">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="project-location">Location</label>
                    <input required type="text" class="form-control" id="project-location" name="location" placeholder="Location">
                </div>
                <div class="col">
                    <label for="execution-locations">Project Execution Location</label>
                    <input required type="text" class="form-control" id="execution-locations" name="executionLocation" placeholder="Location">

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="owners">Owners</label>
                    <input required type="text" class="form-control" id="owners" name="owner" placeholder="Name of Owner">

                </div>
                <div class="col">
                    <label for="project-nature">Project Nature</label>
                    <select  id="project-nature" class="form-control" name="projectNature">
                        <option value="Greenfield"> Greenfield </option>
                        <option value="Brownfield"> Brownfield </option>
                    </select>
                </div>
                
            </div>

            <div class="row">
                <div class="col">
                    <label for="tlsp">No. of top level scope packages</label>
                    <input required type="number" class="form-control" id="tlsp" name="tlsp" placeholder="Enter a number">

                </div>
                <div class="col">
                    <label for="jvp">No. of joint-venture partners </label>
                    <input required type="number" class="form-control" id="jvp" name="jvp" placeholder="Enter a number">

                </div>
                <div class="col">
                    <label for="ish">No. of involved stackeholders </label>
                    <input required type="number" class="form-control" id="ish" name="ish" placeholder="Enter a number">

                </div>
            </div>

            <div class="row">
                    <div class="col">
                        <label for="leader">Leader</label>
                        <input required type="email" class="form-control" id="leader" name="leader" placeholder="Email of Project Leader">
                    </div>
            </div>

            <div id="emailInputs">
                    <div>
                        <label for="members">Members</label>
                        <span style="background-color: #007bff; padding: 5px; border-radius: 5px;">
                            <button type="button"  onclick="addEmailInput()" style="background-color: transparent; color: white; border: none; cursor: pointer;"> Add Email
                            </button>
                        </span>
                    </div>
                    <!-- email field should not appear on first reload -->
                    <!-- <div> 
                        <input required type="email" name="members[]" id="members" placeholder="Email of Member">
                        <button type="button"  onclick="removeEmailInput()" style="background-color: red; color: white; border: none; cursor: pointer;"> Remove Email
                        </button>
                    </div> -->
            </div>
        </div>
            <button type="submit" class="custom-btn">Save</button>
            <button type="button" onclick="cancelForm()" class="cancel-btn">Cancel</button>
            
        </form>

    </section>

</body>

</html>

<script>
    function addEmailInput() {
        var emailInputs = document.getElementById("emailInputs");
    var newDiv = document.createElement("div"); // Create a new div element
    newDiv.innerHTML = `
        <input required type="email" name="members[]" placeholder="Email of Member">
        <button type="button" onclick="removeEmailInput()" style="background-color: red; color: white; border: none; cursor: pointer; margin-top: 10px;">Remove Email</button>
    `;
    emailInputs.appendChild(newDiv);
    // Scroll to the newly added input field
    newDiv.scrollIntoView({ behavior: "smooth", block: "end", inline: "nearest" });
    }

    function removeEmailInput() {
    var button = event.target; // Get the button element that was clicked
    var parentDiv = button.parentNode; // Get the parent div element
    parentDiv.parentNode.removeChild(parentDiv); // Remove the parent div element
}

    function cancelForm() {
            document.getElementById("create-project").reset();
            window.location.href = "/dashboard"; // Redirect to the "/dashboard" route
        }
</script>

{{end}}